* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-white: rgb(220, 218, 218);
  --color-black: rgb(0, 0, 0);
  --color-background:  rgb(200, 210, 210);
}

body {
  font-family: 'ubuntu', sans-serif;
}